
.menu-bar{
    background-color: black;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    text-align:end;
    color: #fff;
text-decoration: none;
}

.menu-bar ul li{
    width: 150px;
   /* margin: 15px;
   padding: 15px; */
   text-decoration: none;

}


.menu-bar ul li a {
    width: 150px;
 /* text-align: end; */
   color: white;
   text-decoration: none;
}